@model TestForASPCORE.Models.Sales

@{
    ViewData["Title"] = "InsertSales";
}

<h1>InsertSales</h1>

<h4>Sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="button" value="AddNewBill" onclick="editLabel()" />
        <form asp-action="insertSales">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
            <label asp-for="billNo" class="control-label"></label>
            <input asp-for="billNo" class="form-control" />
            <span asp-validation-for="billNo" class="text-danger"></span>
        </div> -->

            <div class="form-group">
                <label  class="control-label" id="lblBillNo" > Bill No </label> @ViewBag.billNo
                <input asp-for="billNo" value="@ViewBag.billNo" type=""  class="form-control"/>

            </div>
            <div class="form-group">
                <label asp-for="customerId" class="control-label"> Customer Id</label>
                <input asp-for="customerId" class="form-control" />

                <span asp-validation-for="customerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productId" class="control-label"> Product Name</label>
                <select asp-for="productId" class="form-control" asp-items="@(new SelectList(@ViewBag.productData,"id","name"))">
                </select>
                <span asp-validation-for="productId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unitPrice" class="control-label"></label>
                <input asp-for="unitPrice" class="form-control" />
                <span asp-validation-for="unitPrice" class="text-danger"></span>
            </div>
            <!--
        <div class="form-group">
            <label asp-for="total" class="control-label"></label>
            <input asp-for="total" class="form-control" />
            <span asp-validation-for="total" class="text-danger"></span>
        </div>
            -->
            <!--
        <div class="form-group">
            <label asp-for="productName" class="control-label"></label>
            <input asp-for="productName" class="form-control" />
            <span asp-validation-for="productName" class="text-danger"></span>
        </div>
        -->
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function editLabel()
    {
        document.getElementById("lblBillNo").Value = "New BillNo";
        //location.href = 
        window.location.href = '@Url.Action("getBillNo", "Sales")/';
    }
</script>

